.form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}
.form-check-input {
    background-color: #198754 !important;
    border: 1px solid #198754 !important;;
}
.bg--input.form-control,
.bg--input.form-control:focus,
.bg--input.form-control:active {
    background-color: var(--bg-input-color);
    color: var(--text-placeholder-color);
    box-shadow: none !important;
}
::placeholder {
    color: var(--text-placeholder-color);
}
a {
    color: unset !important;
    text-decoration: none !important;
}

a:hover {
    color: #fff !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    /* padding: 0 !important; */
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}