.form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}
.form-check-input {
    background-color: #198754 !important;
    border: 1px solid #198754 !important;;
}
.bg--input.form-control,
.bg--input.form-control:focus,
.bg--input.form-control:active {
    background-color: var(--bg-input-color);
    color: var(--text-placeholder-color);
    box-shadow: none !important;
}
::placeholder {
    color: var(--text-placeholder-color);
}