body{
    background-color: #261e21 !important;
}
.bg--primary{
    background-color: #ff5352 !important;
    border: 1px solid #ff5352 !important;
    color: #fff !important;
}
.bg--primary:hover{
    background-color: #ff5352 !important;
    border: 1px solid #ff5352 !important;
    color: #fff !important;
}
.btn{
    background-color: #ff5352 !important;
    border: 1px solid #ff5352 !important;
    color: #fff !important;
}
.bg--metamask{
    background-color: #cd6116;
    border-radius: 10px;
}
.bg--primary{
    border-radius: 10px;
}
.bg--binance{
    background-color: #f5b404;
    border-radius: 10px;
}
.bg--ethereum{
    background-color: #547fef;
    border-radius: 10px;
}
.btn--metamask{
    background-color: #933c00 !important;
    border-color: #933c00 !important;
}
.b__btn--metamask{
    border-color: #933c00 !important;
}
.btn--ekta{
    background-color: #cd1e00 !important;
}
.b__btn--ekta{
    border-color: #cd1e00 !important;
}
.btn--binance{
    background-color: #b65608 !important;
    border-color: #b65608 !important;  
}
.b__btn--binance{
    border-color: #b65608 !important;  
}
.btn--ethereum{
    background-color: #2337a1 !important;
    border-color: #2337a1 !important;
}
.b__btn--ethereum{
    border-color: #2337a1 !important;
}
.btn--metamask:hover{
    background-color: #933c00 !important;
    border-color: #933c00 !important;
}
.b__btn--metamask:hover{
    border-color: #933c00 !important;
}
.btn--ekta:hover{
    background-color: #cd1e00 !important;
}
.b__btn--ekta:hover{
    border-color: #cd1e00 !important;
}
.btn--binance:hover{
    background-color: #b65608 !important;
    border-color: #b65608 !important;  
}
.b__btn--binance:hover{
    border-color: #b65608 !important;  
}
.btn--ethereum:hover{
    background-color: #2337a1 !important;
    border-color: #2337a1 !important;
}
.b__btn--ethereum:hover{
    border-color: #2337a1 !important;
}



/* You can add global styles to this file, and also import other style files */
@import url(assets/css/roboto-fonts.css);
@import url(assets/css/lato-fonts.css);

:root {
    --primary-text-color: #fb5b4c;
    --primary-bg-color :#fb5b4c;
    --primary-border-color: #fb5b4c;
    --secondary-bg-color: #251e21;
    --accent-text-color: #fff;
    --accent-bg-color: #fff;
    --border-rounded-md: 1rem;
    --border-rounded-lg: 1.25rem;
    --border-rounded-xl: 1.5rem;
    --border-rounded-sm: .5rem;
    --bg-metamask-color: #cd6116;
    --border-metamask-color: #813602;
    --border-etka-color: #d61f0e;
    --border-ethereum-color: #1346cb;
    --border-binance-color: #c38b02;
    --border-steps-dashed-line: #ffb500;
    --btn-bg-metamask-color: #933c00;
    --btn-bg-ekta-color: #cd1200;
    --btn-bg-binance-color: #b65607;
    --btn-bg-ethereum-color: #0f37a0;
    --btn-border-binance-color:#b65607;
    --btn-border-ekta-color: #cd1200;
    --btn-border-ethereum-color: #0f37a0;
    --bg-binance-color: #ffb500;
    --bg-ethereum-color: #547fef;
    --secondary-text-color: #4e4c4d;
    --bg-input-color: #ff786c;
    --text-input-label: #fdefee;
    --text-placeholder-color: #ac1506;
    --text-subcontent-color: #e4e4e4;
    --text-ethereum-content-color: #d6d6d6;
    --border-step-color: #fb5b4c;
}

@media (max-width:1024px) {
    :root {
        --font-size-banner-head: 24px;
        --line-height-banner-head: 35px;
        --font-size-banner-content: 16px;
        --line-height-banner-content: 22px;
        --font-size-button:16px;
        --line-height-button: 20px;
    }
    .banner__info {
        padding: 5rem 1rem;
    }
}
@media (min-width:1024px) {
    :root {
        --font-size-banner-head: 50px;
        --line-height-banner-head: 65px;
        --font-size-banner-content: 22px;
        --line-height-banner-content: 32px;
        --font-size-button:18px;
        --line-height-button: 24px;
    }
    .banner__info {
        padding: 5rem 1rem;
    }
}


@media (min-width:1280px) {
    
    .steps--line {
        border-top: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        width: 70%;
    }
    .step3--line {
        border-top: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        width: 50%;
    }
    .step4--line {
        border-top: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        width: 72%;
    }
    .step3--line::after {
        border-right: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        content: "";
        width: 11rem;
        height: 30rem;
        position: absolute;
        display: block;
        z-index: -1;
    }
}

@media (min-width:1400px) {
    
    .steps--line {
        border-top: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        width: 70%;
    }
    .step3--line {
        border-top: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        width: 57%;
    }
    .step4--line {
        border-top: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        width: 76%;
    }
    .step3--line::after {
        border-right: 1px dashed var(--border-steps-dashed-line);
        border-width: 2px;
        content: "";
        width: 15rem;
        height: 28.5rem;
        position: absolute;
        display: block;
        z-index: -1;
    }
}


@media (min-width:1600px) {
    :root {
        --font-size-banner-head: 70px;
        --line-height-banner-head: 86px;
        --font-size-banner-content: 30px;
        --line-height-banner-content: 42px;
        --font-size-button:30px;
        --line-height-button: 36px;
        --font-size-roadmap-card-head: 26px;
        --line-height-roadmap-card-head: 32px;
    }
}

body {
    background-color: var(--secondary-bg-color);
}

.btn--primary {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--primary-border-color);
    color: var(--accent-text-color);
}

.btn--primary:hover {
    background-color: var(--accent-bg-color);
    border: 1px solid var(--primary-border-color);
    color: var(--primary-text-color);
}
.btn--metamask {
    background-color: var(--btn-bg-metamask-color);
    border: 1px solid var(--border-metamask-color);
}
.btn--ekta {
    background-color: var(--btn-bg-ekta-color);
    border: 1px solid var(--border-ekta-color);
}
.btn--binance {
    background-color: var(--btn-bg-binance-color);
    border: 1px solid var(--border-binance-color);
}
.btn--ethereum {
    background-color: var(--btn-bg-ethereum-color);
    border: 1px solid var(--border-ethereum-color);
}

.bg--primary {
    background-color: var(--primary-bg-color);
}
.bg--metamask {
    background-color: var(--bg-metamask-color);
}
.bg--ethereum {
    background-color: var(--bg-ethereum-color)
}
.bg--binance {
    background-color: var(--bg-binance-color);
}
.bg--input {
    background-color: var(--bg-input-color);
    border: none !important;
}
.hr--metamask {
    background: var(--border-metamask-color) !important;
}
.hr--primary {
    background: var(--border-etka-color) !important;
}
.hr--binance {
    background: var(--border-binance-color) !important;
}
.hr--ethereum {
    background-color: var(--border-ethereum-color);
}
.rounded--sm {
    border-radius: var(--border-rounded-sm);
}
.rounded--md {
    border-radius: var(--border-rounded-md);
}
.rounded--lg {
    border-radius: var(--border-rounded-lg);
}
.rounded--xl {
    border-radius: var(--border-rounded-xl);
}

.fs__banner-head {
    font-size: var(--font-size-banner-head);
    line-height: var(--line-height-banner-head);
}
.fs__banner-content {
    font-size: var(--font-size-banner-content);
    line-height: var(--line-height-banner-content);
}
.fs__btn {
    font-size: var(--font-size-button);
    line-height: var(--line-height-button);
}
hr:not([size]) {
    height: 2px !important;
}
.b__btn--metamask {
    border: 1px solid var(--border-metamask-color);
}
.b__btn--ekta {
    border: 1px solid var(--btn-border-ekta-color);
}
.b__btn--binance {
    border: 1px solid var(--btn-border-binance-color);
}
.b__btn--ethereum {
    border: 1px solid var(--btn-border-ethereum-color);
}
.text--secondary {
    color: var(--secondary-text-color);
}
.text__input--label {
    color: var(--text-input-label);
}
.text--subcontent {
    color: var(--text-subcontent-color);
}
.text--ethereum {
    color: var(--text-ethereum-content-color);
}

.mh-80 {
    min-height: 80%;
}

.mh-100 {
    min-height: 100%;
}
.form-check-input {
    width: 1.25rem !important;
    height: 1.25rem !important;
}
.border--step {
    border: 1px solid var(--border-step-color);
}