
<section class="pb-5">
    <div class="container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col py-5 text-center">
                <img src="assets/images/checked.png" width="200" height="200" alt="">
                <h4 class="l-font--bold text-white fs__banner-head mt-4">You have successfully <br>completed your submission.
                </h4>
                <div class="d-inline-block">
                    <button type="button" class="btn btn--primary rounded--xl font--medium w-100 d-inline-block text-white rounded--sm p-2 px-5 l-font--bold mt-4">Restart</button>
                </div>
               
            </div>
        </div>
      </div>

</section>
