.form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}
.form-check-input {
    background-color: #198754 !important;
    border: 1px solid #198754 !important;;
}
.bg--input.form-control,
.bg--input.form-control:focus,
.bg--input.form-control:active {
    background-color: #ff786c;
    color: #ac1506;
    box-shadow: none !important;
}
::placeholder {
    color: #ac1506;
}
.bg--metamask{
    width: auto !important;
}
.connect-btn{
    padding: 10px !important;
}
.bg--metamask{
    width: auto !important;
}
.bg--metamask{
    width: auto !important;
}
.bg--binance{
    width: auto !important;
}
.bg--primary{
    width: auto !important;
}
.bg--binance{
    width: auto !important;
}